/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --dkblue: #151F30;
  --blue:#103778;
  --teal: #0593A2;
  --lightOrange: #FF7A48;
  --orange: #E3371E;
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Roboto Mono", monospace;
  --sans: Roboto Condensed, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: var(--orange);
}

a:hover {
  color: var(--hotmag);
  text-decoration: none;
}
/* intro styles */
#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;

}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--teal);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}


#contact {
  /* background-color: var(--teal); */
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}



#contact p{
font-family: var(--sans);
font-size: 1.4rem;
}

#contact a{
margin-top: 3rem;
color: #103778;
}

nav{
font-family: var(--mono);
font-size: 80%;
padding: 1rem;
}

nav h1 a{
font-family: var(--sans);
}

nav ul{
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
gap: 2rem;
}

nav li:first-child{
flex-basis: 100%;
text-align: center;
}

nav [className*="fa-"]{
font-size: 150%;
color: var(--teal);
}

nav h1 [className*="fa-"]{
font-size: 120%;
color: var(--teal);
}

nav a{
color: var(--white);
text-decoration: none;
display: block;
}

nav a:hover{
  color: var(--lightOrange);
}

/* Background Color Divs */

.section-teal{
  background-color: var(--teal);
}

.section-darkBlue{
  background-color: var(--dkblue);
}

nav .nameTop{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}

.button{
  background-color: var(--orange);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
  text-decoration: none;
  color: var(--white) !important;
}

.button:hover{
color: var(--white);
background-color: var(--lightOrange)

}

footer{
  text-align: center;
  padding: 4rem 0;


}

.footerName{
display: block;
font-family: var(--sans);

}

.rights{
display: block;
font-family: var(--sans);

}


footer ul{
list-style-type: none;
margin: 2rem 0;
padding: 0;
display: flex;
flex-flow: row wrap;
justify-content: center;
gap: 3rem;
font-size: 3rem;
}

.gradient{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 83%);
  height: 2px;
}


@media (min-width: 850px) {
nav {
  max-width: 1200px;
  margin: 0 auto;
}

nav li:first-child{
  flex-basis:auto;
  text-align: left;
  margin-right: auto;
}

}





#projects{
  padding: 4rem 1rem;

}

#projects h2{
  font-size:2.5rem;
  margin-bottom: calc(1.5*2.5rem);
}

#projects h3 {
  color: var(--teal);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}

.blackBox{
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5rem;
}

#projects ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;

}

#projects img{
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--teal);
  border-top: 1px solid var(--teal);
  border-radius: 25px;
  padding: 1rem;
}

#projects .projectLinks{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0.25rem 0 0.5rem 0;
  
}

@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;

  }

  #projects img{
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .text{ 
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }
  #projects ul{
    justify-content: flex-end;
  }
}

.projectLinks{
  justify-content: flex-end;
}


img {
  width: 100%;

}